table {
    border: solid 1px cadetblue;
    border-collapse: separate;
    font-family:Arial, Helvetica, sans-serif;
}

td,
th {
    border: solid 1px black;
}

caption {
    background-color: cadetblue;
    font-weight: bold;
    padding: 0.5REM;
}

thead th {
    background-color: lightgray;
}

tfoot td {
    background-color: lightgray;
}