/* grid styling */
section#capabilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "educ educ"
    "skils proj"
    ;
    gap: 0.2REM;
}

section#education {
    grid-area: educ;
}

section#skills {
    grid-area: skils;
}

section#projects {
    grid-area: proj;
}


section#capabilities {
    margin: 0.2REM;
    padding: 0.4REM;
    background-color: lavenderblush;
}

/* list styling */
ul {
    list-style-type: none;
    padding: .8REM;
    margin: 0;
}

/* grid formating */
ul.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.2REM;
}

ul.projectGrid a {
    color: darkgreen;
    padding: 0.4REM;
    margin: 0.2REM;
    background-color: mintcream;
    border: solid 1px lightgray;
}


#skills,
#projects,
#education {
    margin: .2rem;
    padding: .4REM;
    background-color: lavender;
}


h1,
h2,
h3 {
    padding-left: 0.3REM;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {}

h3 {
    background-color: green;
    color: white;
}

#contactMe {
    background-color: wheat;
    margin: 0.2REM;

    font-family: "Quicksand", sans-serif;
}

#education {
    margin: .2rem;
    padding: .4REM;
}

/* about me styling */
#aboutMe {
    grid-area: aboutMe;

    display: flex;
    flex-direction: row;
    justify-content: start;
}

#aboutMe p {
    width: auto;
    padding: 0.4REM;
}

/* skills styling */
#skills ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
}

#skills ul li {
    padding: 0.4REM;
    margin: 0.2REM;
}