br {
    background-color: black;
}

body {
    background-color: gray;
    margin: 1rem;
}


header {
    background-color: darkblue;
}

header nav {
    background-color: rgb(0, 76, 139);
    padding: 0.5REM;
}

a {
    color: white;
    display: inline;
}

li a {color: gray;}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    border-top: solid 1REM white;
}

figure {
    padding: 0;
}

img {
    width: 25%;
    border: dashed red;
}

figcaption {
    color: gray;
}

main {
    background-color: white;
}