
/* article styling */
article {
    background-color: gray;
    margin: .5REM;
}

article section {
    position: relative;
}

div,.description{

    position: absolute;
    top: 0px;
    left: 30%;
}

div,
figure {
    margin-left: 2.5REM;
}

/* image styling */
img {
    width: 30%;
}

img.overlayed {
    width: 3%;

    position: absolute;
    top: 5px;   
    left: 40px;
}

figcaption {
    background-color: black;
    color: aliceblue;
    width: 30%;

    opacity: 75%;

    position: relative;
    top: -23px;
}


/* footer styling */
footer {
    background-color: black;
    color: antiquewhite;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-content: center; */
}

footer section {
    text-wrap: wrap;

    flex-grow: 2;
    /* gap: 15%; */
}


footer a {
    background-color: green;
    color: white;
}

footer a:hover {
    background-color: green;
}


