/* variables */
$pageMargin: 12REM;
$contentMargin: 3REM;
$colour1: green;
$colour1Dark: darkgreen;
$spaceAroundContent: 0.25REM;
$bigSpaceAroundContent: 0.45REM;
$VERYbigSpaceAroundContent: 0.8REM;
$defaultBackgroundColour: aquamarine;