/* grid template styling */

body {
    display: grid;
    grid-template-columns: 1ft 1ft 1ft 1ft 1ft;
    /* repeat(5, 1fr)*/
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        'header header header header header'
        'interests aboutMe aboutMe aboutMe hobbies'
        'links aboutMe aboutMe aboutMe hobbies'
        'skills educat educat educat hobbies'
    ;
}

header {
    grid-area: header;
    background-color: green;
    margin: 0.2REM;
}

header nav {
    display: flex;
    direction: row;
    justify-content: space-between;
}

header nav a {
    padding: 1REM;
    align-self: center;
}

footer {
    background-color: green;
    color: white;
    margin: 0.2rem;
}

/* header flexbox style rules */
header nav ul {
    display: flex;
    direction: row;
    list-style-type: none;
    padding: 0.1REM;
}



/* grid formating */
.item {
    background-color: aliceblue;
    margin: 0.2rem;
}

header a {
    color: white;
    text-decoration: none;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    background-color: green;
    color: white;
}

.interests {
    background-color: wheat;
    margin: 0.2rem;
}

.links {
    margin: 0.2rem;
    margin: solid 1px gray;
    background-color: lightgray;
}

.links,
a {
    text-decoration: none;
    color: darkgreen;
    size: 110%;
}

/* list formating */
/* 
ul li {
    list-style-type: none;
    list-style-position: outside;
} */


/* ids for grid */
#interest {
    grid-area: interests;
}

#links {
    grid-area: links;
}

#skills {
    grid-area: skills;
}

#aboutMe {
    grid-area: aboutMe;
}

#education {
    grid-area: educat;
}

#hobbies {
    grid-area: hobbies;
}